.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width:50;
}

.image {
  max-width: 48rem;
  height: 42rem;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  z-index: 1;
  border-radius: 0.6rem;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
