

.header__nav {
    font-size: 1.4rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}




.search__input {
    font-family: inherit;
    font-size: 2.25rem;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 1rem 2rem;
    border-radius: 100px;
    transition: all .2s;
    margin-right: -3.25rem
}

.search__input:focus {
    outline: none;
    width: 100%;
    background-color: var(--color-grey-light-3)
}

.search__input::-webkit-input-placeholder {
    font-weight: 500;
    color: var(--color-grey-light-4)
}

.search__input:focus+.search__button {
    background-color: var(--color-grey-light-3)
}

.search__button {
    border: none;
    background-color: var(--color-grey-light-2)
}

.search__button:focus {
    outline: none
}

.search__button:active {
    transform: translateY(3px)
}

.search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3)
}

.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;
}

.user-nav>* {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center
}

.user-nav>*:hover {
    background-color: var(--color-grey-light-2)
}

.user-nav__icon-box {
    position: relative
}

.user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2)
}

.user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem
}

.sd-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
    position: fixed;
}

.sd-nav__item {
    position: relative
}

.sd-nav__item:not(:last-child) {
    margin-bottom: .5rem
}

.sd-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s
}

.sd-nav__item:hover::before,
.sd-nav__item--active::before {
    transform: scaleY(1);
    width: 100%
}

.sd-nav__item:active::before {
    background-color: var(--color-primary-light)
}

.sd-nav__link:link,
.sd-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center
}

.sd-nav__icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .5rem;
    fill: currentColor
}