

ul {
    list-style: none;
}


.description__container {
    width: 100%;
    margin:2vh auto;
}


/* End css default */
.mega-menu {
    float: left;
    width: 30%;
    position: relative;
    margin:30px auto;
}
.mega-menu >ul {
    position: relative;
    background-color: #f9f7f6;;
    display: block;
}
.mega-menu >ul >li {
    display: block;
    width: 100%;
    height: 6rem;
}
.mega-menu >ul >li >a {
    padding: 2rem;
    color:#333;
    text-decoration: none;
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    border-bottom:1px solid #ccc;
}
.mega-menu >ul >li:last-child > a {
    border-bottom: 0;
}
.mega-menu >ul >li > a:before, .mega-menu >ul >li > a:after {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.mega-menu >ul >li >a:before {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 6rem;
    background-color: transparent;
    content: "";
}
.mega-menu >ul >li >a:after {
    position: absolute;
    width: 0;
    height: 0;
    border:4px transparent solid;
    border-left:7px #333 solid;
    right: 2.5rem;
    top: 3.5rem;
    content: "";
}
.mega-menu >ul >li:hover a:before {
    background-color: #101d2c;
}
.mega-menu >ul >li:hover a:after {
    border-left-color:#fff;
}

.mega-menu >ul >li .mega-submenu {
    width:0;
    visibility: hidden;
    position: absolute;
    -webkit-transition:width 0.3s;
    -moz-transition:width 0.3s;
    transition:width 0.3s;
}
.mega-menu >ul >li:hover .mega-submenu {
    top:0;
    right: 0;
    left: 100%;
    z-index: 99;
    padding: 3rem;
    background-color: #fff;
    color:#fff;
    border: .2rem solid #101d2c;
    overflow: hidden;
    visibility: visible;
    width: 150%;
    height: 100%;
}
.mega-submenu h2 {
    line-height: .5;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: .1rem solid #eee;
}
.mega-submenu .submenu-content {
    display: block;
    overflow: hidden;
    position: relative;
}

.menu-item .section {
    width: 50%;
    float: left;
    padding:0 1.5rem;
    position: relative;
}

.menu-item .links ul li {
    display: block;
    border-bottom: 1px solid #101d2c;
}

.menu-item .heading-3{
    font-size: 2.5rem;
    margin-top: 2rem;
}
.menu-item .links ul li:last-child {
    border-bottom: 0;
}
.menu-item .links ul li a{
    color: #555;
    display: block;
    text-decoration: none;
    padding: 15px 0;
    font-size: 1.5rem;
}

.menu-item .featured-product .product-detail{
    text-align: center;
    position: relative;
}



.menu-item .featured-product .product-detail .product-desc {
    padding:10px 20px 30px 20px;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}
.menu-item .featured-product .product-detail a.title {
    color: #777;
    text-transform: capitalize;
}
